spring:
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
        hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
# External logging configuration
external:
  logging:
    url: